@model DataManoj.Models.Department

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Department</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DeptAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeptAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeptName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeptName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.contact)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.contact)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.DeptID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
