@model IEnumerable<DataManoj.Models.Department>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DeptAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeptName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contact)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DeptAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeptName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contact)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.DeptID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.DeptID">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.DeptID">Delete</a>
        </td>
    </tr>
}
</table>
